# Node dependencies & logs
node_modules
npm-debug.log*
yarn-debug.log*

# Flutter / Mobile / Android / iOS build artifacts
mobile-app/
*.apk
*.ipa
*.app

# Web build output & Vercel
client-web/dist/
dist/
.vercel/

# Environment variables
.env
.env.local
